$springWood: #f6f7f1;
$shark: #262628;
$silverChalice: #afafaf;
$nevada: #6a6b6c;
$orange: #fc7525;
$bondiBlue: #0492ad;
$korma: #85430f;
$goldenrod: #fdca6b;
$turquoise: #28e3e2;
$forestGreen: #1ca142;
$capeCod: #39403e;
$cararra: #f0eeeb;
$brownRust: #a65e37;
$muddyWaters: #b8915b;
$pewter: #979c9c;
$tan: #d0a48b;
$osloGray: #96999a;
$bostoneBlue: #3b8ca8;
$fiord: #4c5b6c;
$brandy: #dfbe9b;

$fontFamily: "Roboto", sans-serif;
